.row {
  margin-right: 30px;
  color: #fff;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  max-height: 250px;
  padding-right: 3px;
}
.row_posterLarge {
  transform: scale(1.09);
  opacity: 1;
}
